# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=jagin_ai
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5433/${DB_NAME}

# Redis
REDIS_URL=redis://localhost:6379

# pgAdmin
PGADMIN_EMAIL=admin@jagin.ai
PGADMIN_PASSWORD=admin

# App
PORT_API=4000
PORT_WEB=3000

# Mail
SMTP_HOST=localhost
SMTP_PORT=1025
